<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Tags Input</title>
    <meta name="robots" content="index, follow" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../dist/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
    <link rel="stylesheet" href="assets/app.css">
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42755476-1', 'bootstrap-tagsinput.github.io');
    ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <div class="jumbotron">
      <div class="container">
        <h1>Bootstrap Tags Input</h1>
        <p>jQuery plugin providing a Twitter Bootstrap user interface for managing tags</p>
        <p>
            <a class="btn btn-default" role="button" href="https://github.com/bootstrap-tagsinput/bootstrap-tagsinput">Code on Github</a>
            <a class="btn btn-default" role="button" href="bootstrap-2.3.2.html">Bootstrap 2.3.2</a>
            <a class="btn btn-primary" role="button" href="https://codeload.github.com/bootstrap-tagsinput/bootstrap-tagsinput/zip/latest">Download</a>
        </p>
        <p>
          <ul class="list-inline">
            <li>
              <iframe src="//ghbtns.com/github-btn.html?user=bootstrap-tagsinput&repo=bootstrap-tagsinput&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
            </li>
            <li>
              <iframe src="//ghbtns.com/github-btn.html?user=bootstrap-tagsinput&repo=bootstrap-tagsinput&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
            </li>
            <li>
              <a href="https://twitter.com/share" class="navbar-link twitter-share-button" data-hashtags="bootstraptagsinput">Tweet</a>
              <script>!function (d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = "//platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                  }
              }(document, "script", "twitter-wjs");</script>
            </li>
            <li>
              <a class="navbar-link g-plusone" data-size="medium"></a>
              <script type="text/javascript">
                  (function () {
                      var po = document.createElement('script');
                      po.type = 'text/javascript';
                      po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(po, s);
                  })();
              </script>
            </li>
          </ul>
        </p>
      </div>
    </div>
    <div class="container">
      <section id="examples">
        <div class="page-header">
          <h2>Examples</h2>
        </div>

        <div class="example example_markup">
          <h3>Markup</h3>
          <p>Just add <code>data-role="tagsinput"</code> to your input field to automatically change it to a tags input field.</p>
          <div class="bs-example">
            <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" />
          </div>
          <div class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#accordion_example_markup">
                  Show code
                </a>
              </div>
              <div id="accordion_example_markup" class="accordion-body collapse">
                <div class="accordion-inner highlight">
                  <pre><code data-language="html">&lt;input type=&quot;text&quot; value=&quot;Amsterdam,Washington,Sydney,Beijing,Cairo&quot; data-role=&quot;tagsinput&quot; /&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
           <table class="table table-bordered table-condensed"><thead><tr><th>statement</th><th>returns</th></tr></thead><tbody><tr><td><code>$("input").val()</code></td><td><pre class="val"><code data-language="javascript"></code></pre></td></tr><tr><td><code>$("input").tagsinput('items')</code></td><td><pre class="items"><code data-language="javascript"></code></pre></td></tr></tbody></table>
        </div>

        <div class="example example_multivalue">
          <h3>True multi value</h3>
          <p>
            Use a <code>&lt;select multiple /&gt;</code> as your input element for a tags input, to gain true multivalue support. Instead of a comma separated string, the values will be set in an array. Existing <code>&lt;option /&gt;</code> elements will automatically be set as tags. This makes it also possible to create tags containing a comma.
          </p>
          <div class="bs-example">
            <select multiple data-role="tagsinput">
              <option value="Amsterdam">Amsterdam</option>
              <option value="Washington">Washington</option>
              <option value="Sydney">Sydney</option>
              <option value="Beijing">Beijing</option>
              <option value="Cairo">Cairo</option>
            </select>
          </div>
          <div class="accordion ">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#example_multivalue">
                  Show code
                </a>
              </div>
              <div id="example_multivalue" class="accordion-body collapse">
                <div class="accordion-inner">
                  <pre><code data-language="html">&lt;select multiple data-role="tagsinput"&gt;
  &lt;option value="Amsterdam"&gt;Amsterdam&lt;/option&gt;
  &lt;option value="Washington"&gt;Washington&lt;/option&gt;
  &lt;option value="Sydney"&gt;Sydney&lt;/option&gt;
  &lt;option value="Beijing"&gt;Beijing&lt;/option&gt;
  &lt;option value="Cairo"&gt;Cairo&lt;/option&gt;
&lt;/select&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
           <table class="table table-bordered table-condensed"><thead><tr><th>statement</th><th>returns</th></tr></thead><tbody><tr><td><code>$("select").val()</code></td><td><pre class="val"><code data-language="javascript"></code></pre></td></tr><tr><td><code>$("select").tagsinput('items')</code></td><td><pre class="items"><code data-language="javascript"></code></pre></td></tr></tbody></table>
        </div>

        <div class="example example_typeahead">
          <h3>Typeahead</h3>
          Typeahead is not included in Bootstrap 3, so you'll have to include your own typeahead library. I'd recommed <a href="http://twitter.github.io/typeahead.js/">typeahead.js</a>. An example of using this is shown below.

          <div class="bs-example">
            <input type="text" value="Amsterdam,Washington" />
          </div>
           <div class="accordion ">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"href="#example_typeahead">
                  Show code
                </a>
              </div>
              <div id="example_typeahead" class="accordion-body collapse">
                <div class="accordion-inner">
                  <pre><code data-language="html">&lt;input type=&quot;text&quot; value=&quot;Amsterdam,Washington&quot; data-role=&quot;tagsinput&quot; /&gt;
&lt;script&gt;
var citynames = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: {
    url: 'assets/citynames.json',
    filter: function(list) {
      return $.map(list, function(cityname) {
        return { name: cityname }; });
    }
  }
});
citynames.initialize();

$('input').tagsinput({
  typeaheadjs: {
    name: 'citynames',
    displayKey: 'name',
    valueKey: 'name',
    source: citynames.ttAdapter()
  }
});
&lt;/script&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-condensed"><thead><tr><th>statement</th><th>returns</th></tr></thead><tbody><tr><td><code>$("input").val()</code></td><td><pre class="val"><code data-language="javascript"></code></pre></td></tr><tr><td><code>$("input").tagsinput('items')</code></td><td><pre class="items"><code data-language="javascript"></code></pre></td></tr></tbody></table>
        </div>

        <div class="example example_objects_as_tags">
          <h3>Objects as tags</h3>
          <p>
            Instead of just adding strings as tags, bind objects to your tags. This makes it possible to set id values in your input field's value, instead of just the tag's text.
          </p>
          <div class="bs-example">
            <input type="text" />
          </div>
          <div class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#accordion_example_objects_as_tags">
                  Show code
                </a>
              </div>
              <div id="accordion_example_objects_as_tags" class="accordion-body collapse">
                <div class="accordion-inner">
                  <pre><code data-language="html">&lt;input type=&quot;text&quot; /&gt;
&lt;script&gt;
var cities = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: 'assets/cities.json'
});
cities.initialize();

var elt = $('input');
elt.tagsinput({
  itemValue: 'value',
  itemText: 'text',
  typeaheadjs: {
    name: 'cities',
    displayKey: 'text',
    source: cities.ttAdapter()
  }
});
elt.tagsinput('add', { "value": 1 , "text": "Amsterdam"   , "continent": "Europe"    });
elt.tagsinput('add', { "value": 4 , "text": "Washington"  , "continent": "America"   });
elt.tagsinput('add', { "value": 7 , "text": "Sydney"      , "continent": "Australia" });
elt.tagsinput('add', { "value": 10, "text": "Beijing"     , "continent": "Asia"      });
elt.tagsinput('add', { "value": 13, "text": "Cairo"       , "continent": "Africa"    });
&lt;/script&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-condensed"><thead><tr><th>statement</th><th>returns</th></tr></thead><tbody><tr><td><code>$("input").val()</code></td><td><pre class="val"><code data-language="javascript"></code></pre></td></tr><tr><td><code>$("input").tagsinput('items')</code></td><td><pre class="items"><code data-language="javascript"></code></pre></td></tr></tbody></table>
        </div>

        <div class="example example_tagclass">
          <h3>Categorizing tags</h3>
          <p>
            You can set a fixed css class for your tags, or determine dynamically by providing a custom function.
          </p>
          <div class="bs-example">
            <input type="text" />
          </div>
          <div class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#accordion_example_tagclass">
                  Show code
                </a>
              </div>
              <div id="accordion_example_tagclass" class="accordion-body collapse">
                <div class="accordion-inner">
                  <pre><code data-language="html">&lt;input type=&quot;text&quot; /&gt;
&lt;script&gt;
var cities = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: 'assets/cities.json'
});
cities.initialize();

var elt = $('input');
elt.tagsinput({
  tagClass: function(item) {
    switch (item.continent) {
      case 'Europe'   : return 'label label-primary';
      case 'America'  : return 'label label-danger label-important';
      case 'Australia': return 'label label-success';
      case 'Africa'   : return 'label label-default';
      case 'Asia'     : return 'label label-warning';
    }
  },
  itemValue: 'value',
  itemText: 'text',
  typeaheadjs: {
    name: 'cities',
    displayKey: 'text',
    source: cities.ttAdapter()
  }
});
elt.tagsinput('add', { "value": 1 , "text": "Amsterdam"   , "continent": "Europe"    });
elt.tagsinput('add', { "value": 4 , "text": "Washington"  , "continent": "America"   });
elt.tagsinput('add', { "value": 7 , "text": "Sydney"      , "continent": "Australia" });
elt.tagsinput('add', { "value": 10, "text": "Beijing"     , "continent": "Asia"      });
elt.tagsinput('add', { "value": 13, "text": "Cairo"       , "continent": "Africa"    });
&lt;/script&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-condensed"><thead><tr><th>statement</th><th>returns</th></tr></thead><tbody><tr><td><code>$("input").val()</code></td><td><pre class="val"><code data-language="javascript"></code></pre></td></tr><tr><td><code>$("input").tagsinput('items')</code></td><td><pre class="items"><code data-language="javascript"></code></pre></td></tr></tbody></table>
        </div>

        <!-- div id="angular" class="example example_angular" ng-app="AngularExample" ng-controller="CityTagsInputController">
          <h3>AngularJS support</h3>
          <p>
            Include <code>bootstrap-tagsinput-angular.js</code> and register the 'bootstrap-tagsinput' in your Angular JS application to use the bootstrap-tagsinput directive.
          </p>
          <div class="bs-example">
            <bootstrap-tagsinput
              ng-model="cities"
              typeahead-source="queryCities"
              tagclass="getTagClass"
              itemvalue="value"
              itemtext="text">
            </bootstrap-tagsinput>
          </div>
          <div class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#example_angular">
                  Show code
                </a>
              </div>
              <div id="example_angular" class="accordion-body collapse">
                <div class="accordion-inner">
                  <pre><code data-language="html">&lt;bootstrap-tagsinput
  ng-model="cities"
  typeahead-source="queryCities"
  tagclass="getTagClass"
  itemvalue="value"
  itemtext="text"&gt;
&lt;/bootstrap-tagsinput&gt;

&lt;script&gt;
angular.module('AngularExample', ['bootstrap-tagsinput'])
  .controller('CityTagsInputController',
    function CityTagsInputController($scope) {
      // Init with some cities
      $scope.cities = [
        { "value": 1 , "text": "Amsterdam"   , "continent": "Europe"    },
        { "value": 4 , "text": "Washington"  , "continent": "America"   },
        { "value": 7 , "text": "Sydney"      , "continent": "Australia" },
        { "value": 10, "text": "Beijing"     , "continent": "Asia"      },
        { "value": 13, "text": "Cairo"       , "continent": "Africa"    }
      ];

      $scope.queryCities = function(query) {
        return $http.get('cities.json');
      };

      $scope.getTagClass = function(city) {
        switch (city.continent) {
          case 'Europe'   : return 'badge badge-info';
          case 'America'  : return 'label label-important';
          case 'Australia': return 'badge badge-success';
          case 'Africa'   : return 'label label-inverse';
          case 'Asia'     : return 'badge badge-warning';
        }
      };
    }
  );
&lt;/script&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-condensed">
            <thead>
              <tr><th>statement</th><th>returns</th></tr>
            </thead>
            <tbody>
              <tr><td><code>$scope.cities</code></td><td><pre class="items"><code data-language="javascript"></code></pre>{{cities}}</td></tr>
              <tr><td><code>$("select").val()</code></td><td><pre class="val"><code data-language="javascript"></code></pre></td></tr>
              <tr><td><code>$("select").tagsinput('items')</code></td><td><pre class="items"><code data-language="javascript"></code></pre></td></tr>
            </tbody>
          </table>
        </div>
      </section -->

      <section id="options">
        <div class="page-header">
          <h2>Options</h2>
        </div>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th colspan="2">option</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2"><code>tagClass</code></td>
              <td>
                <p>Classname for the tags, or a function returning a classname</p>
                <pre><code data-language="javascript">$('input').tagsinput({
  tagClass: 'big'
});</code></pre>
                <pre><code data-language="javascript">$('input').tagsinput({
  tagClass: function(item) {
    return (item.length > 10 ? 'big' : 'small');
  }
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>itemValue</code></td>
              <td>
                <p>When adding objects as tags, itemValue <em>must</em> be set to the name of the property containing the item's value, or a function returning an item's value.</p>
                <pre><code data-language="javascript">$('input').tagsinput({
    itemValue: 'id'
});</code></pre>
                <pre><code data-language="javascript">$('input').tagsinput({
  itemValue: function(item) {
    return item.id;
  }
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>itemText</code></td>
              <td>
                <p>When adding objects as tags, you can set itemText to the name of the property of item to use for a its tag's text. You may also provide a function which returns an item's value. When this options is not set, the value of <code>itemValue</code> will be used.


                <pre><code data-language="javascript">$('input').tagsinput({
  itemText: 'label'
});</code></pre>
                <pre><code data-language="javascript">$('input').tagsinput({
  itemText: function(item) {
    return item.label;
  }
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>confirmKeys</code></td>
              <td>
                <p>Array of keycodes which will add a tag when typing in the input. (default: [13, 188], which are ENTER and comma)</p>
                <pre><code data-language="javascript">$('input').tagsinput({
  confirmKeys: [13, 44]
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>maxTags</code></td>
              <td>
                <p>When set, no more than the given number of tags are allowed to add (default: undefined). When maxTags is reached, a class 'bootstrap-tagsinput-max' is placed on the tagsinput element.</p>
                <pre><code data-language="javascript">$('input').tagsinput({
  maxTags: 3
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>maxChars</code></td>
              <td>
                <p>Defines the maximum length of a single tag. (default: undefined)</p>
                <pre><code data-language="javascript">$('input').tagsinput({
  maxChars: 8
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>trimValue</code></td>
              <td>
                <p>When true, automatically removes all whitespace around tags. (default: false)</p>
                <pre><code data-language="javascript">$('input').tagsinput({
  trimValue: true
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>allowDuplicates</code></td>
              <td>
                <p>When true, the same tag can be added multiple times. (default: false)</p>
                <pre><code data-language="javascript">$('input').tagsinput({
  allowDuplicates: true
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>focusClass</code></td>
              <td>
                <p>When the input container has focus, the class specified by this config option will be applied to the container</p>
                <pre><code data-language="javascript">$('input').tagsinput({
  focusClass: 'my-focus-class'
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>freeInput</code></td>
              <td>
                <p>Allow creating tags which are not returned by typeahead's source (default: true)</p>
                <div class="bs-callout bs-callout-warning">
                    This is only possible when using string as tags. When itemValue option is set, this option will be ignored.
                </div>
                <pre><code data-language="javascript">$('input').tagsinput({
  typeahead: {
    source: ['Amsterdam', 'Washington', 'Sydney', 'Beijing', 'Cairo']
  },
  freeInput: true
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>typeahead</code></td>
              <td><p>Object containing typeahead specific options</td>
            </tr>
            </tr>
            <tr>
              <td></td>
              <td><code>source</code></td>
              <td>
                <p>An array (or function returning a promise or array), which will be used as source for a typeahead.


                <pre><code data-language="javascript">$('input').tagsinput({
  typeahead: {
    source: ['Amsterdam', 'Washington', 'Sydney', 'Beijing', 'Cairo']
  }
});</code></pre>
                <pre><code data-language="javascript">$('input').tagsinput({
  typeahead: {
    source: function(query) {
      return $.get('http://someservice.com');
    }
  }
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>cancelConfirmKeysOnEmpty</code></td>
              <td><p>Boolean value controlling whether form submissions get processed when pressing enter in a field converted to a tagsinput (default: false).
                <pre><code data-language="javascript">$('input').tagsinput({
  cancelConfirmKeysOnEmpty: true
});</code></pre>
              </td>
            </tr>
            <tr>
              <td colspan="2"><code>onTagExists</code></td>
              <td><p>Function invoked when trying to add an item which allready exists. By default, the existing tag hides and fades in.
                <pre><code data-language="javascript">$('input').tagsinput({
  onTagExists: function(item, $tag) {
    $tag.hide().fadeIn();
  }
});</code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="methods">
        <div class="page-header">
          <h2>Methods</h2>
        </div>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>method</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>add</code></td>
              <td>
                <p>Adds a tag</p>

                <pre><code data-language="javascript">$('input').tagsinput('add', 'some tag');</code></pre>

                <pre><code data-language="javascript">$('input').tagsinput('add', { id: 1, text: 'some tag' });</code></pre>

                Optionally, you can pass a 3rd parameter (object or value) to the <code>add</code> method to gain more control over the process. The parameter is exposed in the <code>options</code> attribute of the event.

                <pre><code data-language="javascript">$('input').tagsinput('add', 'some tag', {preventPost: true});</code></pre>

                Usage:

                <pre>
                  <code data-language="javascript">
$('#tags-input').on('beforeItemAdd', function(event) {
   var tag = event.item;
   // Do some processing here

   if (!event.options || !event.options.preventPost) {
      $.ajax('/ajax-url', ajaxData, function(response) {
         if (response.failure) {
            // Remove the tag since there was a failure
            // "preventPost" here will stop this ajax call from running when the tag is removed
            $('#tags-input').tagsinput('remove', tag, {preventPost: true});
         }
      });
   }
});
                  </code>
                </pre>
              </td>
            </tr>
            <tr>
              <td><code>remove</code></td>
              <td>
                <p>Removes a tag</p>

                <pre><code data-language="javascript">$('input').tagsinput('remove', 'some tag');</code></pre>

                <pre><code data-language="javascript">$('input').tagsinput('remove', { id: 1, text: 'some tag' });</code></pre>

                Optionally, you can pass a 3rd parameter (object or value) to the <code>remove</code> method to gain more control over the process. The parameter is exposed in the <code>options</code> attribute of the event.

                <pre><code data-language="javascript">$('input').tagsinput('remove', 'some tag', {preventPost: true});</code></pre>

                Usage:

                <pre>
                  <code data-language="javascript">
$('#tags-input').on('beforeItemRemove', function(event) {
   var tag = event.item;
   // Do some processing here

   if (!event.options || !event.options.preventPost) {
      $.ajax('/ajax-url', ajaxData, function(response) {
         if (response.failure) {
            // Re-add the tag since there was a failure
            // "preventPost" here will stop this ajax call from running when the tag is added
            $('#tags-input').tagsinput('add', tag, {preventPost: true});
         }
      });
   }
});
                  </code>
                </pre>
              </td>
            </tr>
            <tr>
              <td><code>removeAll</code></td>
              <td>
                <p>Removes all tags</p>

                <pre><code data-language="javascript">$('input').tagsinput('removeAll');</code></pre>
              </td>
            </tr>
            <tr>
              <td><code>focus</code></td>
              <td>
                <p>Sets focus in the tagsinput</p>

                <pre><code data-language="javascript">$('input').tagsinput('focus');</code></pre>
              </td>
            </tr>
            <tr>
              <td><code>input</code></td>
              <td>
                <p>Returns the tagsinput's internal &lt;input /&gt;, which is used for adding tags. You could use this to add your own typeahead behaviour for example.</p>


                <pre><code data-language="html">var $elt = $('input').tagsinput('input');</code></pre>
              </td>
            </tr>
            <tr>
              <td><code>refresh</code></td>
              <td>
                <p>Refreshes the tags input UI. This might be usefull when you're adding objects as tags. When an object's text changes, you'll have to refresh to update the matching tag's text.</p>

                <pre><code data-language="javascript">$('input').tagsinput('refresh');</code></pre>
              </td>
            </tr>
            <tr>
              <td><code>destroy</code></td>
              <td>
                <p>Removes tagsinput behaviour</p>

                <pre><code data-language="javascript">$('input').tagsinput('destroy');</code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="methods">
        <div class="page-header">
          <h2>Events</h2>
        </div>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>event</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>itemAddedOnInit</code></td>
              <td>
                During initialization, pre-defined tags being added will cause this event to be triggered. Example:
                <pre><code data-language="javascript">$('input').on('itemAddedOnInit', function(event) {
  // event.item: contains the item
});</code></pre>
              </td>
            </tr>
            <tr>
              <td><code>beforeItemAdd</code></td>
              <td>
                Triggered just before an item gets added. Example:
                <pre><code data-language="javascript">$('input').on('beforeItemAdd', function(event) {
  // event.item: contains the item
  // event.cancel: set to true to prevent the item getting added
});</code></pre>
              </td>
            </tr>
            <tr>
              <td><code>itemAdded</code></td>
              <td>
                Triggered just after an item got added. Example:
                <pre><code data-language="javascript">$('input').on('itemAdded', function(event) {
  // event.item: contains the item
});</code></pre>
              </td>
            </tr>
            <tr>
              <td><code>beforeItemRemove</code></td>
              <td>
                Triggered just before an item gets removed. Example:
                <pre><code data-language="javascript">$('input').on('beforeItemRemove', function(event) {
  // event.item: contains the item
  // event.cancel: set to true to prevent the item getting removed
});</code></pre>
              </td>
            </tr>
            <tr>
              <td><code>itemRemoved</code></td>
              <td>
                Triggered just after an item got removed. Example:
                <pre><code data-language="javascript">$('input').on('itemRemoved', function(event) {
  // event.item: contains the item
});</code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    <footer class="footer">
      <div class="container">
        <p>Code licensed under <a href="https://raw.github.com/TimSchlechter/bootstrap-tagsinput/master/LICENSE" target="_blank">MIT License</a></p>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="../dist/bootstrap-tagsinput.min.js"></script>
    <script src="../dist/bootstrap-tagsinput/bootstrap-tagsinput-angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/generic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/javascript.js"></script>
    <script src="assets/app.js"></script>
    <script src="assets/app_bs3.js"></script>
  </body>
</html>

